* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

@media (min-width: 35rem){
    *{
        font-size: x-large;
    }
}

*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
	box-shadow: 0 0 10px black;
}

/* Layout */

#wrapper {
    display: flex;
    flex-direction: column;
    height: 88vh;
    width: 100vw;
}

@media (max-width: 23rem){
    #wrapper{
        padding-top: 1rem;
    }
}

@media (min-width: 50rem){
    #wrapper{
        flex-direction: row;
    }
}

h1 {
    grid-area: h1;
    font-weight: 200;
    height: 5vh;
    text-align: center;
}


#instant-content {
    grid-area: instant-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 50rem){
    #instant-content{
        height: 50vh;
        width: 45%;
        margin-top: 4rem;
    }
}

#timed-content {
    grid-area: timed-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "timed-title timed-title"
        "countdown countdown"
        "form form"
        "form form";
    justify-items: center;
    height: 50vh;
    margin: auto;
}

@media (min-width: 50rem){
    #timed-content{
        height: 50vh;
        width: 50%;
        margin: 0;
        margin-top: 3rem;
    }
}

#countdown-display {
    grid-area: countdown;
    justify-self: center;
    font-size: 1.70em;
    font-family: 'Poppins', sans-serif;
}

#timed-title {
    grid-area: timed-title;
    font-family: 'Poppins', sans-serif;
}

form {
    grid-area: form;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "hours mins secs"
        "start-btn . reset-btn";
    gap: 0.5em;
    width: 98%;
}

#hours {
    grid-area: hours;
    overflow: auto;
}

#minutes {
    grid-area: mins;
    overflow: auto;
}

#seconds {
    grid-area: secs;
    overflow: auto;
}

#start-btn {
    grid-area: start-btn;
}

#stop-btn {
    grid-area: reset-btn;
}

/* just Styles */
button,
#start-btn,
#stop-btn {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bolder;
    /* add rules for pushed animation */
}

button:hover,
#start-btn:hover,
#stop-btn:hover {
    background-color: #60ead1;
    color: black;
}

input[type = number] {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5em;
    text-align: center;
    font-size: larger;
}

#instant-report-btn {
    margin: 0.5em;
    width: 70%;
    height: 100%;
}

h2 {
    margin-top: 0px;
}