* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

/* Layout */

/* desktop */
/* #wrapper {
    display: grid;
    grid-template-areas: 
        "h1 h1"
        "instant-content countdown"
        "instant-content timed-content";
} */

#wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "h1 h1"
        "instant-content instant-content"
        "timed-content timed-content"
        "timed-content timed-content";
    height: 100vh;
    width: 100vw;

}

h1 {
    grid-area: h1;
    justify-self: center;
    font-size: 1.70em;
    font-weight: 200;
    height: 10vh;
}


#instant-content {
    grid-area: instant-content;
    display: grid;
    justify-items: center;
    height: 40vh;
    font-family: 'Poppins', sans-serif;
}

#timed-content {
    grid-area: timed-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "timed-title timed-title"
        "countdown countdown"
        "form form"
        "form form";
    justify-items: center;
    height: 40vh;

}

#countdown-display {
    grid-area: countdown;
    justify-self: center;
    font-size: 1.70em;
    font-family: 'Poppins', sans-serif;
}

#timed-title {
    grid-area: timed-title;
    font-family: 'Poppins', sans-serif;
}

form {
    grid-area: form;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "hours mins secs"
        "start-btn . reset-btn";
    width: 98%;
}

#hours {
    grid-area: hours;
    overflow: auto;
}

#minutes {
    grid-area: mins;
    overflow: auto;
}

#seconds {
    grid-area: secs;
    overflow: auto;
}

#start-btn {
    grid-area: start-btn;
}

#stop-btn {
    grid-area: reset-btn;
}

/* Styles */

/* serif fonts! */
/* center countdown, can you style input arrows, looks like there needs to be padding between input and buttons */
button,
#start-btn,
#stop-btn {
    background-color: black;
    color: white;
    border-radius: 5px;
    /* add rules for pushed animation */
}